 @charset "UTF-8";

 body {
    background-color: rgba(94, 124, 124, 0.945);
    font-family: Arial, Helvetica, sans-serif;
 }

 h1 { color: rgb(95, 192, 216);

}

h1#principal {
    text-align: center;
    background-color:rgb(95, 95, 216) ;
    color: white ;
}

h2 {
    color: rgb(78, 132, 202);
}

.basico {
    color: rgb(78, 202, 88);
}

.intermediario {
    color: rgb(194, 202, 78);
}

.avancado {
    color: rgb(202, 78, 78);
}

.destaque {
    background-color: azure;
}